/* 載入等待環 */
#loader {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader .spinner-border {
    height: 200px !important;
    width: 200px !important;
}

#loader-placholder {
    height: 200px;
}

/*上排選單與系所簡介共同背景*/
#navbar-intro-background {
    /* 背景圖片 */
    background-image: url(../source/intro.jpeg);
    /* 背景滿版不重複，上下置中 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 上排選單 */
#navbar {
    opacity: 0.9 !important;
    background-color: black !important;
}

/* 簡介 */
.introduction .row {
    padding: 150px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 學術成就 */
#academic-achievement .row {
    padding: 50px 0px;

}

#academic-achievement img {
    width: 100%;
}

/* 各項表現 */
#school-achievement .row {
    padding: 50px 0px;
}

#school-achievement img {
    width: 50vh;
}

#school-achievement .col {
    padding: 0px 60px;
}

/* 其他成就 */
#other-achievement {
    /* 背景圖片 */
    background-image: url(../source/child.jpg);
    /* 背景滿版不重複，上下置中 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#other-achievement .row {
    padding: 150px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 新聞幻燈片 */
#news-carousel {
    padding: 50px 0px;
}

#news-carousel .row {
    /* 背景圖片 */
    background-image: url(../source/intro.jpeg);
    /* 背景滿版不重複，上下置中 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#carouselCaptions {
    background-color: rgba(0, 0, 0, 0.5);
}

#news-carousel img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 500px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* 系所介紹影片 */
#intro-vedio {}

#intro-vedio iframe {
    width: 100%;
}

/* 課程地圖 */
#class-map {
    padding: 50px 0px;
}

#class-map img {
    /* height: 500px; */
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    --bs-nav-link-color: gray !important;
    --bs-nav-link-hover-color: gray !important;
}

/* 學校地圖 */
#school-map {}

#school-map img {
    width: 100%;
}

/* 招生連結 */
#admissions-links {
    padding: 50px 0px;
}

#admissions-links a {
    color: white !important;
}

#admissions-links #card01 .card {
    transform: rotate(-2deg);
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    /* 背景圖片 */
    background-image: url(../source/admissions.jpg) !important;
    /* 背景滿版不重複，上下置中 */
    background-repeat: no-repeat;
    background-size: cover;
}

#admissions-links #card02 .card {
    transform: rotate(2deg);
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    /* 背景圖片 */
    background-image: url(../source/papers.jpg) !important;
    /* 背景滿版不重複，上下置中 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

#admissions-links .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-size: 20px;
}

#admissions-links .card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

#admissions-links .card :hover {
    transition: 1s;
    padding: 30px;
    font-size: 30px;
}



/* 其他連結 */
#other-links {
    padding: 50px 0px;
}

#other-links .row {
    padding: 50px;
    text-align: center;
}

#other-links a {
    color: rgb(238, 69, 97);
}